.testimonials {
  color: #fff;
  display: flex;
  gap: 1rem;
  padding: 0 2rem;
  align-items: flex-start;
}
.testimonials__left {
  display: flex;
  flex: 1 1;
  gap: 2rem;
  flex-direction: column;
}
.testimonials__title {
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.review__text {
  text-transform: none;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 40px;
}
.review__name {
  color: var(--orange);
}
.testimonials__right {
  position: relative;
  flex: 1 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.reviews__img {
  width: 17rem;
  height: 20rem;

  position: relative;
}
.reviews__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  position: relative;
}
.reviews__img .border,
.reviews__img .borderBg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.reviews__img .border {
  border: 2px solid var(--orange);
  top: -1.5rem;
  left: -1.5rem;
}
.reviews__img .borderBg {
  background: var(--planCard);
  top: 1.5rem;
  left: 1.5rem;
}
.arrows img {
  width: 1.5rem;
  margin: 10px;
  cursor: pointer;
}
.arrows img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
