.plans {
  color: #fff;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}
.plans__blur {
  width: 32rem;
  height: 23rem;
}
.plans__blur-1 {
  top: 6rem;
  left: 0;
}
.plans__blur-2 {
  top: 10rem;
  right: 0;
}
.plans__title {
  justify-content: center;
  gap: 5rem;
}
.plans__categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.plans__category {
  display: flex;
  flex-direction: column;
  background: var(--caloryCard);
  gap: 2rem;
  padding: 1.5rem;
  width: 16rem;
}
.plans__category:nth-child(2) {
  background: var(--planCard);
  transform: scale(1.1);
}
.plans__category svg {
  fill: var(--orange);
  width: 2rem;
  height: 2rem;
}
.plans__category:nth-child(2) > svg {
  fill: #fff;
}
.plans__category > :nth-child(2) {
  font-size: 1rem;
  font-weight: bold;
}
.plans__category:nth-child(2) > :nth-child(2) {
  color: #fff;
}
.plans__category > :nth-child(3) {
  font-size: 3rem;
  font-weight: bold;
}
.plans__category > :nth-child(5) {
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.plans__category > :nth-child(5) img {
  width: 0.8rem;
}
.category__features {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.feature {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.feature img {
  width: 1rem;
}
.features__btn {
  width: auto;
}

@media screen and (max-width: 1170px) {
  .plans__title {
    gap: 1rem;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  .plans {
    gap: 1rem;
  }
  .plans__title {
    flex-direction: row;
  }
}
@media screen and (max-width: 850px) {
  .plans__categories {
    gap: 1.5rem;
  }
  .plans__category {
    gap: 1rem;
  }
}
@media screen and (max-width: 570px) {
  .plans__title,
  .plans__categories {
    flex-direction: column;
  }
  .plans__category {
    width: auto;
  }

  .plans__category:nth-child(2) {
    transform: scale(1);
  }
  .plans__category > :nth-child(3) {
    font-size: 2rem;
  }
}
